<!doctype html>
<html>

  <head>
    <title>PyCon Speaker Slide Deck Uploader</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  </head>

  <body>
    <div class="container" style="max-width: 800px">
      <h1>PyCon Speaker Slide Deck Uploader</h1>

      <p>
        Please upload the slides for your talk, even if they are not complete
        yet. They will be used to improve the accuracy of real-time captioning.
      </p>

      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <select id="schedule_id" name="schedule_id">
            <option selected disabled>Select your talk&hellip;</option>
            {% for item in schedule %}
              <option value="{{ item.conf_key }}">
                {% for author in item.authors %}
                  {{ author }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                -
                {{ item.name }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="slides">Slides in PDF or .zip:</label>
          <input id="slides" name="slides" type="file" />
        </div>

        <div class="form-group">
          <label>Release slides for&hellip;</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="release" value="cart" checked /> Closed captioning
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="release" value="speakerdeck" />
              Uploading to <a href="https://speakerdeck.com/pycon2015">SpeakerDeck</a>
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h3 style="margin-top: 50px; margin-bottom: -10px">FAQ</h3>

      <h4>Why are slides so important this year?</h4>
      <p>
        We will have real-time closed captioning for <em>all</em> the talks
        this year, and uploading your slide deck ahead of time will help the
        caption writer pre-populate their dictionary with any obscure terms or
        abbreviations you may use. <strong>Even an incomplete slide deck is
        useful</strong>!
      </p>

      <h4>How will my slides be used?</h4>
      <p>
        Your slides will be used by the real-time closed caption writer to help
        pre-populate their dictionary with any obscure terms you may be using.
        If you've selected "Release to SpeakerDeck" a volunteer will also
        upload your slides to the PyCon SpeakerDeck account:
        <a href="https://speakerdeck.com/pycon2015">https://speakerdeck.com/pycon2015</a>.
      </p>

      <h4>Can I upload multiple times?</h4>
      <p>
        Yep, no problem! Upload early, upload often!
      </p>

      <h4>I'm getting a 500 internal server error</h4>
      <p>
        D'oh. This seems to happen when the upload takes more than 1 minute and
        Heroku times out. Please email me your slides (or a link to a Dropbox
        with your slides) and I'll take care of it:
        <a href="mailto:wolever@pycon.ca">wolever@pycon.ca</a>.
      </p>

      <h4>What format should I use?</h4>
      <p>
        PDF is best. If PDF is exceeding difficult then the source format will
        be better than nothing. If you're using HTML, zip the <tt>.html</tt>
        file and all required assets and upload the zip file. If your talk
        includes code or other examples, zip those and upload the zip file.
      </p>

      <h4>What if I made a mistake?</h4>
      <p>
        Don't worry about it. Just fix the mistake and upload again.
      </p>

      <h4>Oh no everything is exploding!</h4>
      <p>
        Email <a href="mailto:wolever@pycon.ca">wolever@pycon.ca</a>!
      </p>

      <h4>Where can I find the source?</h4>
      <p>
        <a href="https://github.com/wolever/pycon-slides">https://github.com/wolever/pycon-slides</a>
      </p>

      <h4>How can I contact you?</h4>
      <p>
        <a href="mailto:wolever@pycon.ca">wolever@pycon.ca</a> or @<a href="https://twitter.com/wolever">wolever</a>
      </p>
    </div>
  </body>

  <script>
    $("select").select2();
    $("form").on("change", function() {
      var $btn = $(this).find("button");
      $btn.attr("disabled", false);
      $(this).find("input, select").each(function() {
        if (!$(this).val())
          $btn.attr("disabled", true);
      });
    }).trigger("change");
  </script>

  <style>
    h4 {
      margin-top: 30px;
    }
  </style>

</html>
